<!DOCTYPE HTML>
<html lang="ko">
<head>
	<title>Winning</title>
	#parse("/common/header.vm")
	#parse("/common/script.vm")
</head>
<body style="max-width:400px; margin:5px; border:1px solid #ccc">

	## 메뉴
	#parse("/common/nav.vm")
	<br>
	<div class="w3-panel">
		<p><i class="fa fa-chevron-right" aria-hidden="true"></i> 권세윤 VS...</p>
		<table class="w3-table-all w3-center" style="margin-top:1em; margin-bottom: 1em;">
			<thead>
				<tr class="w3-green">
					<th>이름</th>
					<th>승</th>
					<th>무</th>
					<th>패</th>
				</tr>
			</thead>
			#set($ranking = 1)
			#foreach($row in $MonthRanking)
			<tr>
				<td>$row.memberName</td>
				<td><span>$!row.memberVictory</span></td>
				<td><span>$!row.memberDraw</span></td>
				<td><span>$!row.memberDefeat</span></td>
			</tr>
			#set($ranking = $ranking+1)
			#end
		</table>
		<hr>
		<p><i class="fa fa-chevron-right" aria-hidden="true"></i> 장휘진 VS...</p>
		<table class="w3-table-all w3-center" style="margin-top:1em; margin-bottom: 1em;">
			<thead>
				<tr class="w3-green">
					<th>이름</th>
					<th>승</th>
					<th>무</th>
					<th>패</th>
				</tr>
			</thead>
			#set($ranking = 1)
			#foreach($row in $MonthRanking)
			<tr>
				<td>$row.memberName</td>
				<td><span>$!row.memberVictory</span></td>
				<td><span>$!row.memberDraw</span></td>
				<td><span>$!row.memberDefeat</span></td>
			</tr>
			#set($ranking = $ranking+1)
			#end
		</table>
		<hr>
		<p><i class="fa fa-chevron-right" aria-hidden="true"></i> 장진수 VS...</p>
		<table class="w3-table-all w3-center" style="margin-top:1em; margin-bottom: 1em;">
			<thead>
				<tr class="w3-green">
					<th>이름</th>
					<th>승</th>
					<th>무</th>
					<th>패</th>
				</tr>
			</thead>
			#set($ranking = 1)
			#foreach($row in $MonthRanking)
			<tr>
				<td>$row.memberName</td>
				<td><span>$!row.memberVictory</span></td>
				<td><span>$!row.memberDraw</span></td>
				<td><span>$!row.memberDefeat</span></td>
			</tr>
			#set($ranking = $ranking+1)
			#end
		</table>
		<hr>
	</div>
</body>
</html> 