<!DOCTYPE HTML>
<html lang="ko">
<head>
	<title>Winning</title>
	#parse("/common/header.vm")
	#parse("/common/script.vm")
</head>
<body style="max-width:400px; margin:5px; border:1px solid #ccc">
	## 메뉴
	#parse("/common/nav.vm")

	<div class="w3-panel">
	
		#if($MatchInfo.size() <= 0)
		<div>
			<button class="w3-button w3-block w3-black" onclick="app.matchRecord();"><b>대진표 생성</b></button>
		</div>
		#end

		#set($count = 1)
		
		#if($MatchInfo.size() > 0)
			#foreach($row in $MatchInfo)
			<div class="w3-row">
				<p class="w3-center">
					<div class="w3-row">
						<div class="w3-col s4 w3-center">
							<span class="w3-tag w3-round w3-blue w3-center">[$count] 경기</span> 
						</div>
						<div class="w3-col s4 w3-center">
							&nbsp;
						</div>
						<div class="w3-col s4 w3-center" onclick="app.openSaveResult('$!row.no', '$!row.firstPlayer', '$!row.lastPlayer', '$count', '$!row.firstTeamName', '$!row.lastTeamName');">
							<span class="w3-tag w3-round w3-center">결과 등록</span>
						</div>
					</div>
				</p>
				<div class="w3-col s5 w3-center">
					#set($firstImgUrl = $!row.firstTeamImgName + ".png")
					<img src="/img/team/$firstImgUrl" width="50px;"><br>
					<span>$!row.firstTeamName</span><br>
					<span style="font-size: 13px;">$!row.firstPlayer</span>
					#if($!row.result == 'first')
						<span class="w3-red">승</span>
					#elseif($!row.result == 'draw')
						<span class="w3-green">무</span>
					#elseif($!row.result == 'last')
						<span class="w3-black">패</span>
					#end
				</div>
				<div class="w3-col s2 w3-center">
					<p style="font-size:20px;">vs</p>
				</div>
				<div class="w3-col s5 w3-center">
					#set($lastImgUrl = $!row.lastTeamImgName + ".png")
					<img src="/img/team/$lastImgUrl" width="50px;"><br>
					<span>$!row.lastTeamName</span><br>
					<span style="font-size: 13px;">$!row.lastPlayer</span>
					#if($!row.result == 'first')
						<span class="w3-black">패</span>
					#elseif($!row.result == 'draw')
						<span class="w3-green">무</span>
					#elseif($!row.result == 'last')
						<span class="w3-red">승</span>
					#end
				</div>
			</div><hr>
			#set($count = $count + 1)
			#end
			<div class="w3-row">
				<div class="w3-col s4">
					<button class="w3-button w3-block w3-black" onclick="app.removeMatchInfo();">대진표 삭제</button>
				</div>
				<div class="w3-col s4">
					<button class="w3-button w3-block w3-green" onclick="app.addMatch();">3경기 추가</button>
				</div>
				<div class="w3-col s4">
					<button class="w3-button w3-block w3-blue" onclick="app.saveMatchResultAll();">저장</button>
				</div>
			</div>
			<hr>
		#else
			<div class="w3-panel w3-green w3-topbar w3-bottombar w3-border-amber">
				<p>대진표를 생성해 주세요.</p>
			</div>
		#end
	</div>
	
	## 등록 모달
	<div id="id01" class="w3-modal" style="padding-top: 150px;">
		<div class="w3-modal-content">
			<div class="w3-container" style="padding: 2em 16px;">
				<span class="w3-tag w3-round-large w3-red w3-center" id="play_no" style="margin-bottom: 3px;"></span>

					<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
						<p id="first_p"></p>
						<div class="w3-panel w3-border w3-light-grey w3-round-large w3-center">
							<input class="w3-radio" type="radio" name="result" value="first" onclick="app.resultClick(this);" style="width:40px; top:3px;">
							<label>승</label>
							
							<input class="w3-radio" type="radio" name="result" value="draw" onclick="app.resultClick(this);" style="width:40px; top:3px;">
							<label>무</label>
							
							<input class="w3-radio" type="radio" name="result" value="last" onclick="app.resultClick(this);" style="width:40px; top:3px;">
							<label>패</label>
						</div>
					</div>
					<p class="w3-center"><span id="first_t"></span> VS <span id="last_t"></span></p>
					<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
						<p id="last_p"></p>
						<div class="w3-panel w3-border w3-light-grey w3-round-large w3-center">
							<input class="w3-radio" type="radio" id="result_1" disabled style="width:40px; top:3px;">
							<label>승</label>
							
							<input class="w3-radio" type="radio" id="result_2" disabled style="width:40px; top:3px;">
							<label>무</label>
							
							<input class="w3-radio" type="radio" id="result_3" disabled style="width:40px; top:3px;">
							<label>패</label>
						</div>
					</div>

			</div>
			<div class="w3-row">
				<div class="w3-col s6">
					<button class="w3-button w3-block w3-black" onclick="app.saveResult();">등록</button>
				</div>
				<div class="w3-col s6">
					<button class="w3-button w3-block w3-red" onclick="document.getElementById('id01').style.display='none'">취소</button>
				</div>
			</div>
		</div>
		## Save Result HiddenValue
		<input type="hidden" value="" id="no">
	</div>
</body>
<script>
	function App() {
		var _this = this;

		## 모든 경기결과 저장
		_this.saveMatchResultAll = function() {
			var result = confirm('모든 경기 결과가 일별 기록으로 저장 됩니다.\n저장 후, 매칭 정보는 삭제 됩니다.');

			if(!result) {
				return false;
			}
		
			var url = "/ajax/allMatchResultSave";
			$.ajax({
				url: url,
				type: 'POST',
				success: function(result) {
					alert("등록이 완료 되었습니다.\n일일경기 정보 페이지로 이동 합니다.");
					location.href="/dailyMatchInfo?insertDate="+result;
				},
				error: function(result) {
					alert("Error!!");
				}
			});
		}

		## 경기결과 Modal open
		_this.openSaveResult = function(no, f_player, l_player, play_no, f_team, l_team) {
			document.getElementById('id01').style.display='block'
			$('#no').val(no);
			$('#play_no').text(play_no + "경기");
			$('#first_p').text(f_player + "(" + f_team + ")");
			$('#last_p').text(l_player + "(" + l_team + ")");
			$('#first_t').text(f_team);
			$('#last_t').text(l_team);
		}
		
		## 경기별 결과 저장
		_this.saveResult = function() {
			var no = $('#no').val();
			var value = $(":input:radio[name=result]:checked").val();
			
			if(no == "") {
				alert("에러가 발생하여 초기화 합니다.");
				location.reload();
				return false;
			}
			if(value == undefined) {
				alert("경기 결과를 선택하세요.");
				return false;
			}
			
			var url = "/ajax/matchResultSave";
			$.ajax({
				url: url,
				type: 'POST',
				data: {
					no: no,
					result: value
				},
				success: function(result) {
					alert("등록이 완료 되었습니다.");
					location.reload();
				},
				error: function(result) {
					alert("Error!!");
				}
			});
		};

		## 경기 정보 추가
		_this.addMatch = function() {
		
			var result = confirm('경기를 추가 하시겠습니까?');

			if(!result) {
				return false;
			}

			var url = "/ajax/match?type=add";
			$.ajax({
				url: url,
				type: 'GET',
				success: function(result) {
					location.reload();
				},
				error: function(result) {
					alert("Error!!");
				}
			});

		};
	
		## 경기 정보 가져오기
		_this.matchRecord = function() {
			var url = "/ajax/match";
			$.ajax({
				url: url,
				type: 'GET',
				success: function(result) {
					location.reload();
				},
				error: function(result) {
					alert("Error!!");
				}
			});
		};

		## 대진표 삭제
		_this.removeMatchInfo = function() {
			var result = confirm('대진표를 삭제 하시겠습니까?');

			if(!result) {
				return false;
			}
			var url = "/ajax/removeMatchInfo";
			$.ajax({
				url: url,
				type: 'POST',
				success: function(result) {
					location.reload();
				},
				error: function(result) {
					alert("Error!!");
				}
			});
		}

		## 승/무/패 라디오 버튼
		_this.resultClick = function(result) {
			$('#result_1').prop('checked', false);
			$('#result_2').prop('checked', false);
			$('#result_3').prop('checked', false);
			
			if(result.value == 'first') {
				$('#result_3').prop('checked', true);
			} else if(result.value == 'last') {
				$('#result_1').prop('checked', true);
			} else {
				$('#result_2').prop('checked', true);
			}
			
		};
		
		## EventBind
		_this.eventBind = function() {
			
		}

		## Init
		_this.init = function() {
			_this.eventBind();
		}();
	}

	var app = new App();
</script>
</html> 